body{
    margin: 2%;
}
header{
    height: 60vh;
    background-color: #3F5EFB;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    width: 32%;
    height: 50vh;
    background-color: #22476c;
}
footer{
    height: 90vh;
    background-color: #3F5EFB;
}
header, section,footer{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}