*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}
nav ul a{
    color: black;
}
#section-home{
background-color: aqua;
}
#section-about{
    background-color: blueviolet;
}
#section-info{
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}