@media screen and (max-width: 480px) {
    flex-direction:  column;
}
main,aside{
    width: 100%;
}
main{
 height: 100vh;
}
aside,main,footer,section{
    height: 10vh;
}
section{
    width: 100%;
    background-color:rosybrown ;
}
