body{
    margin:0;
}
body{
    font-size: 20px;
}
header, footer {
    height: 20vh;
    width: 100%;
    background-color: #68b5fa;
}
.wrapper {
    width: 100%;
    display: flex;
}
main{
    height: 60vh;
    width: 70%;
    background-color: #FF7143;
}
aside{
    height: 60vh;
    width: 30%;
    background-color:#142823 ;
}
section{
    display: none;
}
header::after {
    content: "desktop";
}
main,aside,footer{
font-size: 2em;
}