@media screen and (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }
    body{
        font-size: 10px;
    }
    main, aside {
        width: 100%;
    }

    main {
        height: 60vh;
    }

    aside, main, footer, section {
        height: 10vh;
    }

    section {
        width: 100%;
        background-color: #D1EF53;
        display: block;
    }
    header::after {
        content: "mobile";
    }
}