@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.items{
    font-family: "Inter", sans-serif;
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px 0;
}
.item{
    width: 372px;
    text-align: center;
}
.item img{
    width: 100%;
}