@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.items{
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin: 50px auto;
    gap: 32px;
    padding: 20px 0;
    /*flex-wrap: wrap;*/
}
.item{
    width: 271px;
}
.item h3{
    color: #161543;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 20px 0 10px 0;
}
.item p{
    color: #7687A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}