@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}
.w-1070{
width: 1070px;
margin: 0 auto;
    /*background-color: #6c6868;*/
}
/*----------------------------heder---------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}
header nav{
display: flex;
    justify-content:center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav a{
    color: #696871;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.469px;
}
.header__active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}
.header__button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
/*<!----------------------------Hero ------------------------->*/

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}
.hero div h1{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.hero div p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
    width: 409.426px;
}
.hero div button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    border: none;
}
/*-----------------------brands--------------------------*/
.brands{
display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;

}