div.list-1>ul>li:nth-child(even) {
   color: deeppink;
}
div.list-2>ul>li:nth-child(odd) {
    color:  red;
    font-size: 22px;
}
div.list-3>ul>li:nth-child(2n+4)::after {
    content:"!"
}
div.list-4>ul>li:last-of-type{
color: yellow;
}
div.list-5>ul>li::first-letter{
color: yellow;
    font-size: 30px;

}
