body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}
img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    /*background-color: #3F5EFB;*/
}
.form-register{
    margin: 10px auto;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    /*background-color: #3F5EFB;*/
    margin-top: 2px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.bottom-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 25px;
    border: 1px solid #7F7A7A;
    width: 200px;
    height: 50px;
}
.bottom-form p{
    font-size: 10px;

}
.form1{
    border: 1px solid #7F7A7A   ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form1 p{
    font-size: 10px;
}
.form1 a{
    font-size: 10px;

}
svg {
    margin: -5px;
    margin-right: 5px;
}
.form-register form input:nth-child(3){
    background-color: #68b5fa;
    border-radius: 5px;
    border: none;
    height: 21px;
    width: 175px;
    text-decoration-color: #E9E3DC;
    color: #E9E3DC;
    font-size: 10px;
}
input::placeholder {
    font-size: 10px;
}
