
body{
    background-color: lightgray;
}
.form-register{
    margin: 100px auto;
    width: 30vw;
    height: 70vh;
    /*background-color: #644C4C;*/
}
.login{
    height: 63%;
    /*background-color: #3F5EFB;*/
    border: 1px solid grey;
}
.login, form{
    /*background-color: #FF7143;*/
    /*border: 5px solid green;*/
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.login img{
    width: 80%;
}
input[type="text"],
input[type="password"]{
    width: 50%;
    margin-top: 10px;
}
input[type="submit"]{
    width: 50%;
    height: 25px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #68b5fa;
    color: white;
    border: none;
}
form span{
    color: grey;
}
form p svg {
    margin-bottom: -5px;
}
form p{
    color: #155694;
    /*margin: 15px 0;*/
}
form a{
    color: #155694;
    text-decoration: none;
    /*margin-bottom: 15px;*/
}
.registration{
    height: 40px;
    border: 1px #FF7143;
    margin-top: 3%;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
}
.registration a{
    color: #68b5fa;
    text-decoration: none;
    font-weight: 600;
}














